<nav class="navbar navbar-light" style="background-color: #F5B7B1;">
    <ul class="nav">

      <li class="active"><a href="/">Find Blood Donor</a></li>
      <li class="active"><a href="/signup">New? signUp</a></li>
      <li><a href="/userinfo/basic">Saved Info</a></li>
      <li><a href="#">More Coming</a></li>
    </ul>
  </div>
</nav>
