<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Blood Bank Management System &amp; Home</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Style CSS -->
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

  <!-- Preloader -->
  <div id="preloader">
      <div class="medilife-load"></div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area">
      <!-- Top Header Area -->
      <div class="top-header-area">
          <div class="container h-100">
              <div class="row h-100">
                  <div class="col-12 h-100">
                      <div class="h-100 d-md-flex justify-content-between align-items-center">
                          <p>Welcome to <span>Blood Bank Management System</p>
                          <p>Opening Hours : Monday to Sunday Contact : <span>+12-823-611-8721</span></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Main Header Area -->
      <div class="main-header-area" id="stickyHeader">
          <div class="container h-100">
              <div class="row h-100 align-items-center">
                  <div class="col-12 h-100">
                      <div class="main-menu h-100">
                          <nav class="navbar h-100 navbar-expand-lg">
                              <!-- Logo Area  -->
                              <a class="navbar-brand" href="/"><img src="img/core-img/c.png" alt="Logo"></a>

                              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#medilifeMenu" aria-controls="medilifeMenu" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                              <div class="collapse navbar-collapse" id="medilifeMenu">
                                  <!-- Menu Area -->
                                  <ul class="navbar-nav ml-auto">
                                      <li class="nav-item active">
                                          <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
                                      </li>
                                      <li class="nav-item dropdown">
                                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="/finddonor">Find Donors</a>
                                            <a class="dropdown-item" href="/logout">Log Out</a>
                                            <a class="dropdown-item" href="/chat">Contact Friends</a>
                                          </div>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" href="/finddonor">Find Donors</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/logout">Log Out</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/chat">Contact Friends</a>
                                    </li>
                                  </ul>
                                  
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->
  <!-- ***** Breadcumb Area Start ***** -->
  <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url(img/bg-img/breadcumb2.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h3 class="breadcumb-title">Donors List</h3>
                    <p>Donate blood, save life</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Breadcumb Area End ***** -->

<!-- **** Table Started  ****-->

<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <table>
                    <thead>
                        <tr class="table100-head">
                            <th class="column1">Donor ID</th> 
                            <th class="column2">Name</th> 
                            <th class="column3">Blood Group</th> 
                            <th class="column4">Address</th> 
                            <th class="column5">Mobile No.</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td class="column1">200398</td>
                                <td class="column2">Faiza Massiayat</td>
                                <td class="column3">AB+</td>
                                <td class="column4">Bandar, Narayanganj</td>
                                <td class="column5">01902280830</td>
                                
                            </tr>
                            <tr>
                                <td class="column1">200397</td>
                                <td class="column2">Mir jalil</td>
                                <td class="column3">AB+</td>
                                <td class="column4">Malibag,Dhaka</td>
                                <td class="column5">01913711946</td>
                            </tr>
                            <tr>
                                <td class="column1">200396</td>
                                <td class="column2">Israt Jahan</td>
                                <td class="column3">AB+</td>
                                <td class="column4">Chasara,Narayanganj</td>
                                <td class="column5">01775976757</td>
                            </tr>
                            <tr>
                                <td class="column1">200392</td>
                                <td class="column2">Sintheya Ahmed</td>
                                <td class="column3">O+</td>
                                <td class="column4">Tolla, Narayangonj</td>
                                <td class="column5">01756372890</td>
                            </tr>
                            <tr>
                                <td class="column1">200391</td>
                                <td class="column2">Afia Tahira Zahin</td>
                                <td class="column3">O+</td>
                                <td class="column4">Amlapra,Narayangonj</td>
                                <td class="column5">0180445670</td>
                            </tr>
                            <tr>
                                <td class="column1">200390</td>
                                <td class="column2">Sadman Sami</td>
                                <td class="column3">B+</td>
                                <td class="column4">Dhupchachia,Bogra</td>
                                <td class="column5">0198033765</td>
                            </tr>
                            <tr>
                                <td class="column1">200389</td>
                                <td class="column2">Afnan Ahmed</td>
                                <td class="column3">A+</td>
                                <td class="column4">Chandina,Comilla</td>
                                <td class="column5">0156908435</td>
                            </tr>
                            <tr>
                                <td class="column1">200388</td>
                                <td class="column2">Daiyan Ahmed</td>
                                <td class="column3">AB+</td>
                                <td class="column4">Gendaria,Dhaka</td>
                                <td class="column5">0180943568</td>
                            </tr>
                            <tr>
                                <td class="column1">200387</td>
                                <td class="column2">Sonia Akter</td>
                                <td class="column3">B-</td>
                                <td class="column4">Gazipur</td>
                                <td class="column5">0195673409</td>
                            </tr>
                            <tr>
                                <td class="column1">200386</td>
                                <td class="column2">Tasnin Ferdous</td>
                                <td class="column3">O-</td>
                                <td class="column4">Rupgonj,Dhaka</td>
                                <td class="column5">01349746748</td>
                            </tr>
                            <tr>
                                <td class="column1">200389</td>
                                <td class="column2">Tonmoy Debnath</td>
                                <td class="column3">O+</td>
                                <td class="column4">Mirpur,Dhaka</td>
                                <td class="column5">0726384937</td>
                            </tr>
                            <tr>
                                <td class="column1">200388</td>
                                <td class="column2">Rowshan Rima</td>
                                <td class="column3">A+</td>
                                <td class="column4">Malibag,Dhaka</td>
                                <td class="column5">01913711946</td>
                            </tr>
                            <tr>
                                <td class="column1">200387</td>
                                <td class="column2">Tania Khan</td>
                                <td class="column3">A-</td>
                                <td class="column4">Patuakhali,Barishal</td>
                                <td class="column5">0178904358</td>
                            </tr>
                            <tr>
                                <td class="column1">200386</td>
                                <td class="column2">Md.Shoab</td>
                                <td class="column3">O+</td>
                                <td class="column4">Maulobhibazar,Sylhet</td>
                                <td class="column5">0187345747</td>
                            </tr>
                            
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- **** Table Ended  ****-->

   <!-- jQuery (Necessary for All JavaScript Plugins) -->
   <script src="/js/jquery/jquery-2.2.4.min.js"></script>
   <!-- Popper js -->
   <script src="/js/popper.min.js"></script>
   <!-- Bootstrap js -->
   <script src="/js/bootstrap.min.js"></script>
   <!-- Plugins js -->
   <script src="/js/plugins.js"></script>
   <!-- Active js -->
   <script src="/js/active.js"></script>
   <!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
        <script src="/js/popper.js"></script>
        <script src="js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
        <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
        <!-- <script src="js/main.js"></script> -->

</body>

</html>