<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Title  -->
  <title>Blood Bank Management System &amp; Home</title>

  <!-- Favicon  -->
  <link rel="icon" href="img/core-img/favicon.ico">

  <!-- Style CSS -->
  <link rel="stylesheet" href="/css/style.css">
  </head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div class="medilife-load"></div>
  
</div>

<!-- ***** Header Area Start ***** -->
<header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <div class="h-100 d-md-flex justify-content-between align-items-center">
                        <p>Welcome to <span>Blood Bank Management System</p>
                        <p>Opening Hours : Monday to Sunday Contact : <span>+12-823-611-8721</span></p>
                    </div>
                </div>
            </div>
  ,      </div>
    </div>


<!-- Main Header Area -->
<div class="main-header-area" id="stickyHeader">
  <div class="container h-100">
      <div class="row h-100 align-items-center">
          <div class="col-12 h-100">
              <div class="main-menu h-100">
                  <nav class="navbar h-100 navbar-expand-lg">
                      <!-- Logo Area  -->
                      <a class="navbar-brand" href="/"><img src="img/core-img/c.png" alt="Logo"></a>

                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#medilifeMenu" aria-controls="medilifeMenu" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                      <div class="collapse navbar-collapse" id="medilifeMenu">
                          <!-- Menu Area -->
                          <ul class="navbar-nav ml-auto">
                              <li class="nav-item active">
                                  <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
                              </li>
                              <li class="nav-item dropdown">
                                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <a class="dropdown-item" href="/finddonor">Find Donors</a>
                                      <a class="dropdown-item" href="/logout">Log Out</a>
                                      <a class="dropdown-item" href="/chat">Contact Friends</a>
                                      
                                  </div>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="/finddonor">Find Donors</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="/logout">Log Out</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="/chat">Contact Friends</a>
                              </li>
                          </ul>
                          
      </div>
  </div>
</div>
</header>
<!-- ***** Header Area End ***** -->
 <!-- ***** Breadcumb Area Start ***** -->
 <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url(img/bg-img/breadcumb1.jpg);">
  <div class="container h-100">
      <div class="row h-100 align-items-center">
          <div class="col-12">
              <div class="breadcumb-content">
                  <h3 class="breadcumb-title">Successfully Logged-in</h3>
                  <p></p>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- ***** Breadcumb Area End ***** -->

<div class="container" style="margin-top:50px">
  <h1>Welcome <%=name%></h1>
  <div class="row">
    <div class="col-md-4">
      <p> </p>
    </div>
    <div class="col-md-4">
      <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
      <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
    </div>
  </div>
</div>



<div class="container" style="margin-top:50px">
  <h3>Welcome Home</h3>
  <div class="row">
    <div class="col-md-4">
      <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
      <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
    </div>
    <div class="col-md-4">
      <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
      <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
    </div>
    <div class="col-md-4">
      <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
      <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
    </div>
  </div>
</div>

<div class="container" style="margin-top:50px">
  <h3>Welcome Home</h3>
  <div class="row">
    <div class="col-md-4">
      <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
      <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
    </div>
    <div class="col-md-4">
      <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
      <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
    </div>
    <div class="col-md-4">
      <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
      <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
    </div>
  </div>
</div>
<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="/js/plugins.js"></script>
<!-- Active js -->
<script src="/js/active.js"></script>

</body>
</html>
