<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Title  -->
  <title>Blood Bank Management System &amp; Home</title>

  <!-- Favicon  -->
  <link rel="icon" href="img/core-img/favicon.ico">

  <!-- Style CSS -->
  <link rel="stylesheet" href="/css/style.css">
  </head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div class="medilife-load"></div>
  
</div>

<!-- ***** Header Area Start ***** -->
<header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <div class="h-100 d-md-flex justify-content-between align-items-center">
                        <p>Welcome to <span>Blood Bank Management System</p>
                        <p>Opening Hours : Monday to Sunday Contact : <span>+12-823-611-8721</span></p>
                    </div>
                </div>
            </div>
  ,      </div>
    </div>


<!-- Main Header Area -->
<div class="main-header-area" id="stickyHeader">
  <div class="container h-100">
      <div class="row h-100 align-items-center">
          <div class="col-12 h-100">
              <div class="main-menu h-100">
                  <nav class="navbar h-100 navbar-expand-lg">
                      <!-- Logo Area  -->
                      <a class="navbar-brand" href="/"><img src="img/core-img/c.png" alt="Logo"></a>

                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#medilifeMenu" aria-controls="medilifeMenu" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                      <div class="collapse navbar-collapse" id="medilifeMenu">
                          <!-- Menu Area -->
                          <ul class="navbar-nav ml-auto">
                              <li class="nav-item active">
                                  <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
                              </li>
                              <li class="nav-item dropdown">
                                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <a class="dropdown-item" href="/finddonor">Find Donors</a>
                                      <a class="dropdown-item" href="/logout">Log Out</a>
                                      
                                      
                                  </div>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="/finddonor">Find Donors</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="/logout">Log Out</a>
                              </li>
                              
                          </ul>
                          
      </div>
  </div>
</div>
</header>
<!-- ***** Header Area End ***** -->
 <!-- ***** Breadcumb Area Start ***** -->
 <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url(img/bg-img/breadcumb1.jpg);">
</section>
<!-- ***** Breadcumb Area End ***** -->

<!-- form area-->
<form>
    <div class="form-group">
      <label for="exampleFullName">Full name</label>
      <input type="fullname" class="form-control" id="exampleInputFullname" aria-describedby="fullnameHelp" placeholder="Enter full name">
    </div>
    <div class="form-group">
      <label for="exampleInputAddress">Address</label>
      <input type="address" class="form-control" id="exampleInputAddress" placeholder="Address">
    </div>
    <div class="form-group">
      <label for="exampleInputDistrict">District</label>
      <input type="District" class="form-control" id="exampleInputDistrict" placeholder="District">
    </div>
    <div class="form-group">
      <label for="exampleInputCountry">Country</label>
      <input type="country" class="form-control" id="exampleInputCountry" placeholder="Country">
    </div>
    <div class="form-group">
      <label for="exampleInputBloodgroup">Blood group</label>
      <input type="bloodgroup" class="form-control" id="exampleInputBloodgroup" placeholder="bloodgroup">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Choose Blood Group
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">A+</a>
          <a class="dropdown-item" href="#">A-</a>
          <a class="dropdown-item" href="#">AB+</a>
          <a class="dropdown-item" href="#">AB-</a>
          <a class="dropdown-item" href="#">B+</a>
          <a class="dropdown-item" href="#">B-</a>
          <a class="dropdown-item" href="#">O+</a>
          <a class="dropdown-item" href="#">O-</a>
        </div>
      </div>
      
    </div>
    
    
        <form action="/action_page.php">
          Lastgiven:<input type="date" name="lastgiven">
          <input type="submit">
          </form>

          <p><strong>Note:</strong>type="date" is not supported in Safari on Internet Explorer 11 (or earlier).</p>

          </body>
          </html>

    <div class="form-group">
      <label for="exampleInputMedicalissue">Medical issue</label>
      <input type="medicalisuue" class="form-control" id="exampleInputMedicalissue" placeholder="Medicalissue">
    </div>
    
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

<!-- form area-->


<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="/js/plugins.js"></script>
<!-- Active js -->
<script src="/js/active.js"></script>




</body>
</html>
