<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Blood Bank Management System &amp; Services</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Style CSS -->
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="medilife-load"></div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="h-100 d-md-flex justify-content-between align-items-center">
                            <p>Welcome to <span>Blood Bank Management System</p>
                            <p>Opening Hours : Monday to Sunday Contact : <span>+12-823-611-8721</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Header Area -->
        <div class="main-header-area" id="stickyHeader">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 h-100">
                        <div class="main-menu h-100">
                            <nav class="navbar h-100 navbar-expand-lg">
                                <!-- Logo Area  -->
                                <a class="navbar-brand" href="/index"><img src="img/core-img/c.png" alt="Logo"></a>

                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#medilifeMenu" aria-controls="medilifeMenu" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                                <div class="collapse navbar-collapse" id="medilifeMenu">
                                    <!-- Menu Area -->
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" href="/index">Home</a>
                                                <a class="dropdown-item" href="/about">About Us</a>
                                                <a class="dropdown-item" href="/service">Services</a>
                                                <a class="dropdown-item" href="/news">News</a>  
                                                <a class="dropdown-item" href="/contact">Contact</a>
                                                <a class="dropdown-item" href="/login">Login</a>
                <a class="dropdown-item" href="/signup">Signup</a>
                                                <a class="dropdown-item" href="/elements">Elements</a>
                                                <a class="dropdown-item" href="/indexicons">All Icons</a>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/about">About Us</a>
                                        </li>
                                        <li class="nav-item active">
                                            <a class="nav-link" href="/service">Services</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/news">News</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/contact">Contact</a>
                                        </li>
                                        <li class="nav-item">
                                                <a class="nav-link" href="/login">Login</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/signup">Signup
                                                </a>
                                            </li>
                                    </ul>
                                    
           </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Breadcumb Area Start ***** -->
    <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url(img/bg-img/444.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">Services</h3>
                        <p>The Blood Bank Management System's Services is organized volunteer blood donation program. Our services operates Bangladesh’s blood supply<br>
                        in a manner that gains the trust, commitment and confidence 
                        of all Bangladeshi by providing a safe, secure, cost-effective,
                        affordable and <br> accessible supply of quality blood,
                        blood products and their alternatives.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Breadcumb Area End ***** -->

    <!-- ***** Services Area Start ***** -->
    <div class="medilife-services-area section-padding-100-20">
        <div class="container">
            <div class="row">
                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-area d-flex">
                        <div class="service-icon">
                            <i class="icon-doctor"></i>
                        </div>
                        <div class="service-content">
                            <h5>Laboratory</h5>
                            <p>More than 25000 Blood Donor giving blood everyday</p>
                        </div>
                    </div>
                </div>
                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-area d-flex">
                        <div class="service-icon">
                            <i class="icon-emergency-call-1"></i>
                        </div>
                        <div class="service-content">
                            <h5>Emergency Room</h5>
                            <p>If you’re a blood donor, you’re a hero to someone, somewhere, who received your gracious gift of life.</p>
                        </div>
                    </div>
                </div>
                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-area d-flex">
                        <div class="service-icon">
                            <i class="icon-blood-donation-2"></i>
                        </div>
                        <div class="service-content">
                            <h5>Donors</h5>
                            <p>To save a life, you don't need to use muscle. By donating just one unit of blood, you can save three lives or even several lives.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Services Area End ***** -->

    <div class="medilife-services-area clearfix">
        <!-- Single Services Area -->
        <div class="singleServiceArea equalize d-flex">
            <div class="singleServiceIcon">
                <i class="icon-hospital-4"></i>
            </div>
            <div class="singleServiceText">
                <h2>A new way of running things</h2>
                <p></p>
            </div>
        </div>

        <!-- Single Services Area -->
        <div class="singleServiceArea equalize bg-img" style="background-image: url(img/bg-img/images.png);"></div>

        <!-- Single Services Area -->
        <div class="singleServiceArea equalize d-flex">
            <div class="singleServiceIcon">
                <i class="icon-clinic-history-2"></i>
            </div>
            <div class="singleServiceText">
                <h2>All Equipments are high tech</h2>
                <p></p>
            </div>
        </div>
    </div>

    <section class="medilife-benefits-area section-padding-100-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h2>We always put <br>our patients first</h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                    <div class="col-20 col-md-4">
                        <div class="single-benefits-area mb-100 text-right">
                            <div class="single-benefits-title d-flex align-items-end row-reverse">
                            <i class="icon-hospital-4"></i>
                            <h5>Services Offered</h5>
                        </div>
                        <p>1.Blood grouping and typing<br>
                            2.Blood cross matching<br>
                            3.Coombs test (updated method using gel technology now routinely done for all blood cross matches)<br>
                            4.Coombs cross match<br>
                            5.Tests for uncommon blood cell antigens and antibodies<br>
                            6.Antibody titre<br>
                            7.Screening tests for:<br>
                                a.Hepatitis B and Hepatitis C<br>
                                b.HIV Venereal diseases<br>
                                c.Malaria & Microfilaria<br>
                                </p>
                    </div>
                    <div class="single-benefits-area mb-50 text-right">
                        <div class="single-benefits-title d-flex align-items-end row-reverse">
                            <i class="icon-hospital-bed-1"></i>
                            <h5>Equipments</h5>
                        </div>
                        <p>1.Donor Couches Well-Comfortable<br>
                           2.Compo-Mixer For Continuous Mixing Of Collecting Blood And Automatic Stop After Desired Volume Of Blood Collection.<br>
                           3.Hemoglobinometer Instant And Accurate Hemoglobin Estimation Of Blood Donors.<br>
                           4.Blood Bank Refrigerators<br>
                           5.Platelet Incubator And Agitator<br>
                           6.Electronic Plasma Expresser<br>
                           7.Automatic ELISA Processor</p>
                    </div>
            </div>
        </div>
    </section>

    <!-- ***** CTA Area Start ***** -->
    <div class="medilife-cta-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cta-content">
                        <i class="icon-smartphone"></i>
                        <h2>For Emergency calls</h2>
                        <h3>+12-823-611-8721</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** CTA Area End ***** -->

    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-area section-padding-100">
        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget-area">
                            <div class="footer-logo">
                                <img src="img/core-img/logo.png" alt="">
                            </div>
                            <p>Helpful Information
                                <br>1.Maintain a healthy iron level by eating iron rich foods.
                                <br>2.Drink an extra 16 oz. of water prior to your donation.
                                <br>3.Avoid alcohol consumption before your blood donation.
                                <br>4.Remember to bring the donor card or national ID/Passport.
                                <br>5.Finally, Try to get a good night sound sleep after donation.</p>
                            <div class="footer-social-info">
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                 </div>
             </div> 
               </div>
            
                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget-area">
                            <div class="widget-title">
                                <h6>Contact Form</h6>
                            </div>
                            <div class="footer-contact-form">
                                <form action="#" method="post">
                                    <input type="text" class="form-control border-top-0 border-right-0 border-left-0" name="footer-name" id="footer-name" placeholder="Name">
                                    <input type="email" class="form-control border-top-0 border-right-0 border-left-0" name="footer-email" id="footer-email" placeholder="Email">
                                    <textarea name="message" class="form-control border-top-0 border-right-0 border-left-0" id="footerMessage" placeholder="Message"></textarea>
                                    <button type="submit" class="btn medilife-btn">Contact Us <span>+</span></button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget-area">
                            <div class="widget-title">
                                <h6>News Letter</h6>
                            </div>

                            <div class="footer-newsletter-area">
                                <form action="#">
                                    <input type="email" class="form-control border-0 mb-0" name="newsletterEmail" id="newsletterEmail" placeholder="Your Email Here">
                                    <button type="submit">Subscribe</button>
                                </form>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                       <div class="bottom-footer-content">
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>