<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
        <!-- Title  -->
        <title>Blood Bank Management System &amp; Signup</title>
    
        <!-- Favicon  -->
        <link rel="icon" href="img/core-img/favicon.ico">
    
        <!-- Style CSS -->
        <link rel="stylesheet" href="/css/style.css">
    
    </head>

    <body>
 <!-- Preloader -->
 <div id="preloader">
        <div class="medilife-load"></div>
    </div>
      <!-- ***** Header Area Start ***** -->
    <header class="header-area">
            <!-- Top Header Area -->
            <div class="top-header-area">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 h-100">
                            <div class="h-100 d-md-flex justify-content-between align-items-center">
                                <p>Welcome to <span>Blood Bank Management System</p>
                                <p>Opening Hours : Monday to Sunday Contact : <span>+12-823-611-8721</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main Header Area -->
        <div class="main-header-area" id="stickyHeader">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 h-100">
                            <div class="main-menu h-100">
                                <nav class="navbar h-100 navbar-expand-lg">
                                    <!-- Logo Area  -->
                                    <a class="navbar-brand" href="/"><img src="img/core-img/c.png" alt="Logo"></a>
    
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#medilifeMenu" aria-controls="medilifeMenu" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    
                                    <div class="collapse navbar-collapse" id="medilifeMenu">

<!-- Menu Area -->
<ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/index">Home</a>
                <a class="dropdown-item" href="/about">About Us</a>
                <a class="dropdown-item" href="/service">Services</a>
                <a class="dropdown-item" href="/news">News</a>
                <a class="dropdown-item" href="/contact">Contact</a>
                <a class="dropdown-item" href="/login">Login</a>
                <a class="dropdown-item" href="/signup">Signup</a>
                <a class="dropdown-item" href="/elements">Elements</a>
                <a class="dropdown-item" href="/indexicons">All Icons</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/service">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/news">News</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/signup">Signup
            </a>
        </li>
    </ul>
    
</div>
</div>
</div>
</header>
<!-- ***** Header Area End ***** -->

  <!-- ***** Breadcumb Area Start ***** -->
  <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h3 class="breadcumb-title">Signup</h3>
                    <p>Toll Free Blood Donation Helpline - 1800 1037100</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Breadcumb Area End ***** -->
<!-- Top content -->
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Signup to our site</h3>
                            		<p>Enter your username , password to sign up on:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-key"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
                                
                                      <% if (error.length > 0) { %>
		<div class="alert alert-danger"><%- error %></div>
		<% } %>
		
		 <% if (success.length > 0) { %>
		<div class="alert alert-success"><%- success %></div>
		<% } %>
		
                                
			
                        <form role="form" action="/signup" role="form" method="post" method="post" class="login-form">
                                                
                                                
                  <div class="form-group">
	            <label for="username"  class="sr-only">Name</label>
	            <input type="text" name="username" id="username" class="form-control form-username"  required  placeholder="Name"/>
	           
	        </div>
   
   
   		  <div class="form-group" >
				<label for="email"  class="sr-only">Email</label>
				 <input type="email" name="email" id="email" class="form-control  form-username"  required placeholder="Email" />
				
			</div>
   
			<div class="form-group" >
				<label for="password"  class="sr-only">Password</label> 
				<input type="password" name="password" id="password" class="form-control  form-username" ng-model="user.password" required  placeholder="Password"/>
			    
			</div>
			
			
			                        <button type="submit" class="btn">Sign in!</button>
			                    </form>
		                    </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 social-login">
                        	<h3>...or login with:</h3>
                        	<div class="social-login-buttons">
	                        	<a class="btn btn-link-1 btn-link-1-facebook" href="#">
	                        		<i class="fa fa-facebook"></i> Facebook
	                        	</a>
	                        	<a class="btn btn-link-1 btn-link-1-twitter" href="#">
	                        		<i class="fa fa-twitter"></i> Twitter
	                        	</a>
	                        	<a class="btn btn-link-1 btn-link-1-google-plus" href="#">
	                        		<i class="fa fa-google-plus"></i> Google Plus
	                        	</a>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


        <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>

    </body>

</html>

       